#filmesMaisVistos {
    padding: 60px 0;
}

#filmesMaisVistos > h2{
    text-align: center;
    margin: 0;
    font-size: 3.125rem;
    padding: 0;
    line-height: 0.8;
}

#carouselExampleControls{
    max-width: 1211px;
    margin: 60px auto 0;
    width:90%;
    overflow: hidden;
}

.carouselFilmes{
    display: flex !important;
    flex-wrap: wrap;
}

.foto{
    height: 463px;
    width: 70%;
}
.foto img{
height: 100%;
width: 100%;
object-fit: cover;
}

#filmesMaisVistos #filmeInfo{
    display: flex;
    flex-direction: column;

    width:30%;
    padding: 0 1.25rem;
    background-color: #41AF62;
}

#filmesMaisVistos #filmeInfo h2{
    font-size: 1.938rem;
    text-align: center;
    margin: 1.625rem 0 0 ;
}

#filmesMaisVistos #filmeInfo h3{
    font-size: 1.5rem;
    margin: 2.313rem 0 0;
}

#filmesMaisVistos #filmeInfo p{
    margin: 1.375rem 0 0;
    line-height: 1.7;
}

#filmesMaisVistos .carousel-item button{
    border: none;
    background-color: white;
    font-size: 1.063rem;
    
    border-radius: 0 0.313rem 0.313rem 0;
    color: var(--greenBtn);

    border-radius: 32px;
    margin: 3.5rem auto 0.313rem;
    padding: 0.25rem 1.25rem;  
}

#filmesMaisVistos .carousel-item button:hover {
    background-color: black;
}

.carousel-control-next, .carousel-control-prev {
    width: 3%;
}

@media (max-width: 768px) {
    .carouselFilmes {
        flex-direction: column;
    }

    .foto {
        width: 100%;
    }

    #filmesMaisVistos #filmeInfo {
        width: 100%;
    }

    .carousel-control-next, .carousel-control-prev {
        width: 12%;
    }

    .carousel-control-prev {
        left: 0;
        top: 222px
    }

    .carousel-control-next{
        right: 0;
        top: 222px
    }
}

