@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #262626;
    color: white;
    position: relative;
}

:root {
    --greenBtn: #41AF62;
    --bgDark1: rgba(0, 0, 0, 0.3);
    --bgDark2: rgba(0, 0, 0, 0.74);
    --bgDark3: rgba(0, 0, 0, 0.28);
    --hoverGreen1: #229043;

}

/*
==============================================
*/



/*
================= HEADER =================
*/

header {
    background-color: rgba(0, 0, 0, 0.3);
    /* background-image: linear-gradient(to top, rgb(0 0 0 / 0%), rgb(0 0 0 / 56%)); */
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
    padding: 0 1.438rem;
}

header nav > a {
    display: flex;
    align-items: center;

    font-size: 2.25rem;
    color: white;
    text-decoration: none;
    
    height: 100%;
    padding: 0 0.625rem;
}



/*
================= CONTENT =================
*/


/*=== INTRO ===*/






/*=== FILMES MAIS VISTOS ===*/







/*=== FAQ ===*/






/*
================= FOOTER =================
*/
