.footer a{
    text-decoration: none;
    color: white;
}
.btnCadastrar{
    border: none;
    background-color: var(--greenBtn);
    font-size: 1.5rem;
    border-radius: 0 0 0.313rem 0.313rem;
    color: white;
    height: 40%;
}

.formCadastrar {
    border-radius: 0.313rem 0.313rem 0 0;
    font-size: 1.5rem;
    color: var(--greenBtn) !important;
    height: 60%;
}

.formCadastrar::placeholder {
    color: var(--greenBtn) !important;
    text-align: center;
}

.footerTitle{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
}

.form{
    height: 90%;
    margin-left: 0.5rem;
}

.form div {
    height: 100%;
    width: 22rem;
}