

/*
================= HEADER =================
*/

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    /* height: 83px; */
    /* background-image: linear-gradient(to top, rgb(0 0 0 / 0%), rgb(0 0 0 / 56%)); */
}

header nav > a {
    font-family: 'Bebas Neue', cursive;
}


header nav > a:hover {
    color: white;
    background-color: var(--greenBtn);
    /* text-decoration: underline; */
}

header nav > a:active {
    background-color: var(--hoverGreen1);
}

/* header nav > a:visited {
    color: rgb(223, 223, 223);
} */

header nav > div {
    display: flex;
    /* align-items: center; */
}

header nav > div #searchBtn {
    height: 49px;
    width: 79px;

    /* padding: 0.281rem 0.5rem; */
    margin-right: 1.438rem;
    border-radius: 5px;
    text-align: center;

    background-color: var(--greenBtn);
    cursor: pointer;
}

header nav > div #searchBtn img {
    object-fit: contain;
    width: 38%;
    height: 100%;
}

header nav > div button {
    width: 117px;
    background-color: var(--greenBtn);
    color: white;

    border: none;
    border-radius: 0.313rem;
    font-size: 1.563rem;
}

header nav > div button:hover {
    background-color: var(--hoverGreen1);
}




/*
================= CONTENT =================
*/


/*=== INTRO ===*/


#content #intro {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg/bg-filme5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#content #intro > div {
    width: 90%;
    max-width: 704px;
    text-align: center;
}

#content #intro div h1 {
    font-size: 3.125rem;
    font-weight: bold;
    text-shadow: 3px 3px 4px var(--bgDark2);
    margin-bottom: 1.25rem;
}

#content #intro div > p {
    font-size: 1.625rem;
    text-shadow: 3px 3px 4px var(--bgDark2);
    margin-bottom: 3.313rem;
}

#content #intro div #formIntro p {
    font-size: 1.125rem;
    text-shadow: 3px 3px 4px var(--bgDark2);
    margin-bottom: 0.625rem;
}

#content #intro div #formIntro fieldset {
    display: flex;
}

#content #intro div #formIntro fieldset input {
    width: 67%;
    border: none;
    padding: 1.125rem;
    border-radius: 0.313rem 0 0 0.313rem;
}

#content #intro div #formIntro fieldset button {
    width: 33%;
    border: none;
    background-color: var(--greenBtn);
    font-size: 2rem;
    border-radius: 0 0.313rem 0.313rem 0;
    color: white;
}

#content #intro div #formIntro fieldset button:hover {
    background-color: var(--hoverGreen1);
}

@media (max-width: 360px) {

    #content #intro div h1 {
        font-size: 2.25rem !important;
    }

    header nav > a {
        font-size: 1.25rem !important;
    }
}

@media (max-width: 414px) {

    #content #intro div h1{
        margin-bottom: 0.875rem;
    }

    #content #intro div > p{
        font-size: 1.125rem !important;
    }

    #content #intro div #formIntro p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {

    #content #intro div h1{
        font-size: 2.5rem !important;
    }

    header nav > div #searchBtn {
        height: 35px !important;
        width: 40px !important;
    }

    header nav > div #searchBtn img {
        width: 55% !important;
    }

    header nav > div button {
        width: 68px !important;
        font-size: 1rem;
    }
}

@media (max-width: 599px) {

    header nav {
        padding: 0 1.438rem 0 0.875rem !important;
    }

    header nav > a {
        font-size: 1.625rem;
        padding: 0 !important;
    }

    #content #intro div #formIntro fieldset {
        flex-direction: column !important;
        align-items: center !important;
    }

    #content #intro div #formIntro fieldset input {
        border-radius: 0.313rem 0.313rem 0 0 !important;
    }

    #content #intro div #formIntro fieldset button {
        border-radius: 0 0 0.313rem 0.313rem !important;
        font-size: 1.375rem !important;
        padding: 0.125rem;
    }

    #content #intro div #formIntro fieldset input, #content #intro div #formIntro fieldset button {
        width: 76% !important;
    }
}



/*=== FILMES MAIS VISTOS ===*/


/*=== FAQ ===*/

#faq {
    background-image: url(../img/bg/bg-filme1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
    width: 100%;
    background-color: #262626;
}
    
#accordionFlushExample {
    width: 940px !important;
    margin: 0 auto;
    background-color: #262626;
}

.accordion-item {
    background-color: #262626;
  
    
}
 /*
.accordion-button:focus {
   background-color: #000000; 
   color: --hoverGreen1 #229043;
}*/

/*.accordion-header {
    text-transform: uppercase;
}*/

.accordion-button{
    background-color: #262626;
    color: white; 
    font-size: 18px; 
}

.accordion-button:hover{
    color: var(--hoverGreen1);
    background-color: black;
}

.accordion-button:active{
    color: var(--hoverGreen1);
    background-color: black;
}

h2 {
    padding: 0 !important;
}

.accordion-button:not(.collapsed){
    background-color: black;
    color: var(--greenBtn);
    border:none !important;
    font-weight: bold;
}

.accordion-button:focus{
    border: solid;
    box-shadow: var(--hoverGreen1);

}

.accordion-body {
    background-color: black;
    color:  var(--greenBtn);

}

@media (max-width: 900px){
    #accordionFlushExample {
        max-width: 100%;
    }
}

/*
================= FOOTER =================
*/

.footer a{
    text-decoration: none;
    color: white;
}

.footer a:hover{
    color: var(--hoverGreen1);
}

footer .btnCadastrar{
    border: none;
    background-color: var(--greenBtn);
    font-size: 1.5rem;
    border-radius: 0 0 0.313rem 0.313rem;
    color: white;
    height: 40%;
}

footer .btnCadastrar:hover{
    background-color: var(--hoverGreen1);
    text-decoration: none;
}

footer .formCadastrar {
    border-radius: 0.313rem 0.313rem 0 0;
    font-size: 1.5rem;
    color: var(--greenBtn) !important;
    height: 60%;
}

footer .formCadastrar::placeholder {
    color: var(--greenBtn) !important;
    text-align: center;
}

footer .footerTitle{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
}

footer .form{
    height: 90%;
    margin-left: 0.5rem;
}

footer .form div {
    height: 100%;
    width: 22rem;
}