body {
    position: relative;
}


/*
================= HEADER =================
*/

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    /* height: 83px; */
    background-color: rgba(0, 0, 0, 0.3);
    /* background-image: linear-gradient(to top, rgb(0 0 0 / 0%), rgb(0 0 0 / 56%)); */
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 83px;
    padding: 0 1.438rem;
}

header nav > a {
    display: flex;
    align-items: center;

    font-size: 2.25rem;
    color: white;
    text-decoration: none;
    
    height: 100%;
    padding: 0 0.625rem;
}

header nav > a:hover {
    color: white;
    background-color: #41AF62;
    /* text-decoration: underline; */
}

header nav > a:active {
    background-color: #287a41;
}

/* header nav > a:visited {
    color: rgb(223, 223, 223);
} */

header nav > div {
    display: flex;
    /* align-items: center; */
}

header nav > div #searchBtn {
    height: 49px;
    width: 79px;

    /* padding: 0.281rem 0.5rem; */
    margin-right: 1.438rem;
    border-radius: 5px;
    text-align: center;

    background-color: #41AF62;
    cursor: pointer;
}

header nav > div #searchBtn img {
    object-fit: contain;
    width: 38%;
    height: 100%;
}

header nav > div button {
    width: 117px;
    background-color: #41AF62;
    color: white;

    border: none;
    border-radius: 0.313rem;
    font-size: 1.563rem;
}

header nav > div button:hover {
    background-color: white;
    color: #41AF62;
}



/*=== INTRO ===*/


#content #intro {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg/bg-filme5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#content #intro div {
    width: 90%;
    max-width: 704px;
    text-align: center;
}

#content #intro div h1 {
    font-size: 3.125rem;
    font-weight: bold;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.74);
    margin-bottom: 1.25rem;
}

#content #intro div > p {
    font-size: 1.625rem;
    text-shadow: 3px 3px 4px rgb(0 0 0 / 74%);
    margin-bottom: 3.313rem;
}

#content #intro div #formIntro p {
    font-size: 1.125rem;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.74);
    margin-bottom: 0.625rem;
}

#content #intro div #formIntro fieldset {
    display: flex;
}

#content #intro div #formIntro fieldset input {
    width: 67%;
    border: none;
    padding: 1.125rem;
    border-radius: 0.313rem 0 0 0.313rem;
}

#content #intro div #formIntro fieldset button {
    width: 33%;
    border: none;
    background-color: #41AF62;
    font-size: 2rem;
    border-radius: 0 0.313rem 0.313rem 0;
    color: white;
}



/*
================= CONTENT =================
*/




/*=== FILMES MAIS VISTOS ===*/







/*=== FAQ ===*/






/*
================= FOOTER =================
*/
