.modal-dialog {
    color: white;
}

.modal-dialog .modal-content {
    background-color: #262626 !important;
}

.modal-body {
    display: flex;
    /* flex-wrap: wrap; */
}



/*
================= HEADER =================
*/

.modal-header #filmeTituloModal p:first-child {
    font-size: 2.188rem;
    margin-bottom: 0.063rem;
}

.modal-header #filmeTituloModal p:last-child {
    display: inline-block;
    font-size: 0.875rem;
    margin-bottom: 1.813rem;
    border: 1px solid var(--greenBtn);
    background-color: var(--bgDark1);
    border-radius: 1.5rem;
    padding: 0 0.938rem;
}



/*
================= BODY =================
*/

.modal-body #filmeInfoModal #filmeNotaModal {
    display: flex;
    flex-wrap: wrap;
}

.modal-body #filmeInfoModal #filmeNotaModal div {
    background-color: var(--bgDark1);
    border: 1px solid var(--greenBtn);
    border-radius: 0.25rem;
    padding: 0.125rem 0.5rem;
}

.modal-body #filmeInfoModal #filmeNotaModal div:not(div:last-child) {
    margin-right: 1.063rem;
}

.modal-body #filmeInfoModal #filmeNotaModal p {
    margin-bottom: 0;
}

.modal-body #filmeInfoModal #filmeSinopseModal {
    margin: 1.313rem 0 1rem 0;
}

.modal-body #filmeInfoModal #filmeSinopseModal p {
    line-height: 1.9;
    margin-bottom: 0;
}

.modal-body #filmeInfoModal hr {
    height: 3px;
    border-color: white;
    background-color: white;
    opacity: 1;
    border-radius: 1.625rem;
    margin: 0;
}



/*
================= FOOTER =================
*/