

body{
    background-image: url(../img/bg/clipartBg.png);
}



header nav > a:hover {
    color: white;
    background-color: #41AF62;
}



#content{
    padding: 9%;
}
h1{
    text-align: center;
    margin:25px auto;
    color:white;
}

#barra{
    display: flex;
    justify-content: center;
    height: 38px;
}

#pesqFilmes{
    
    width: 327px;
    border: none;
    padding: 1.125rem;
    border-radius: 0.313rem 0 0 0.313rem;
}

button{
    
    border:none;
    width:79px;
    background-color: #41AF62;
}


#listaDeFilmes{
    
    padding: 75px;
}

#lista{
    display: flex;
    flex-wrap:wrap;
    list-style: none;
}

li {
    margin: 15px;
}

<<<<<<< HEAD
    

.esconde {
    display: none;
=======
footer {
    
}

footer > p {
    margin-top: 2.188rem;
}

footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding:0;
    margin-bottom: 1.313rem;
}

footer ul a {
    color: white;
    text-decoration: none;
}

footer ul a:hover{
    text-decoration: underline;
    color: var(--greenBtn);
    font-style: italic;
}

footer ul li:not(li:last-child) {
    margin-right: 0.313rem;
}

footer ul p {
    font-size: 0.813rem;
    pointer-events: none;
    margin-bottom: 0;
}

#footer{
    background-color: var(--bgDark1);
    text-align: center;
    padding: 1px;
>>>>>>> main
}