html, body{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: url(../img/bg/clipartBg1.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/*
================= HEADER =================
*/

header nav > a:hover {
    color: white;
    background-color: #41AF62;
    /* text-decoration: underline; */
}

header nav > a:active {
    background-color: #287a41;
}

/* header nav > a:visited {
    color: rgb(223, 223, 223);
} */


/*
================= CONTENT =================
*/


/*=== MAIN ===*/



#recuperacaoContent {
    margin: 3.75rem 0;
}

#recuperacaoContent main {
    max-width: 580px;
    width: 90%;
    margin: 0 auto;
    padding: 1.125rem 0.188rem 1rem;

    text-align: center;
    background-color: var(--bgDark3);
    border-radius: 0.375rem;
   /* border: solid 1px transparent;     /* acrescentei */
    /*background-color: rgba(0, 0, 0, 0.3); */
}

/*main .bg {
    background-image: url(../img/bg/bg-pinkflamingos.jpg);
    opacity: 0.7; */

.bg-pic-form {
    width: 95%;
    height: auto;
    border-radius: 50%;
    opacity: 0.9;
}

.text-pic-form {
    font-style: italic;
    color: white;
    font-size: 13px;
    margin: 10px;
}

#recuperacaoContent main h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

/*main {
    border-color: white;
    border: 5px;

}*/

#recuperacaoContent main #formRecuperacao {
    width: 85%;
    max-width: 302px;
    margin: 50px auto 10px;   /* 50px auto 0  */    /*200px auto auto; */     /* do caio ta diferente aqui           /* 50px auto*/
}

#recuperacaoContent main #formRecuperacao #inputField {
    display: flex;
    flex-direction: column;
}

#recuperacaoContent main #formRecuperacao #inputField:first-child {
    margin-bottom: 1rem;
}

#recuperacaoContent main #formRecuperacao #inputField:nth-child(2) {
    margin-bottom: 3.125rem;
}

#recuperacaoContent main #formRecuperacao #inputField label {
    align-self: flex-start;
    font-size: 1rem;
    margin-bottom: 0.625rem;
}

#recuperacaoContent main #formRecuperacao #inputField input {
    height: 37px;
    border-radius: 0.313rem;
    padding-left: 0.625rem;

    border: none;
    overflow: auto;
    outline: none;
}

#recuperacaoContent main #formRecuperacao button{
    width: 100%;
    height: 44px;
    border-radius: 0.313rem;
    margin-bottom: 0.75rem;

    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    background-color: var(--greenBtn);
    cursor: pointer;

    border: none;
    overflow: auto;
    outline: none;
}

#recuperacaoContent main #formRecuperacao button:hover {
    background-color: var(--hoverGreen1);
}

#recuperacaoContent main > a {
    text-decoration: none;
    color: white;
}

/*#recuperacaoContent main p {
    margin: 1.438rem 0 0 0;         /*  do caio está com essa parte - comentar aqui pra não deixar erro no final do box com um pedaço da foto sendo repetida  
} */

#recuperacaoContent main p a {
    text-decoration: none;
    color: var(--greenBtn);
}

#recuperacaoContent main a:hover {
    text-decoration: underline;
    font-style: italic;
}



/*
================= FOOTER =================
*/

footer {
    background-color: var(--bgDark1);
    text-align: center;
}

footer > p {
    margin-top: 2.188rem;
}

footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-bottom: 1.313rem;
}

footer ul a {
    color: white;
    text-decoration: none;
}

footer ul a:hover{
    text-decoration: underline;
    color: var(--greenBtn);
    font-style: italic;
}

footer ul li:not(li:last-child) {
    margin-right: 0.313rem;
}

footer ul p {
    font-size: 0.813rem;
    pointer-events: none;
    margin-bottom: 0;
}



@media (max-width: 599px){

    header nav > a {
       font-size: 1.625rem !important;
    }
}